# Don't track content of these folders
Raw_data/
OneDay.pkl
CompleteOneDay.pkl
current.csv
melo.csv
feb 08.spydata
figures/
report/
data/
alireza code/
soft-dtw/
presentation/
reports/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.png
*.so
*.svg
*.pdf
*.html
*.mat
*.pkl
*.csv
*.eps
*.out

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip